@media (max-width: 995px) {
  .our-services {
    .our-services__blocks {
      display: flex;
      flex-direction: column !important;

      .our-services__blocks-item {
        max-width: 100% !important;
      }
    }
  }
}

@media (max-width: 769px) {
  .features {
    article:last-child {
      max-width: 100%;
    }
  }
}

@media (max-width: 995px) {
  .works {
    .container {
      flex-direction: column-reverse !important;
      .works-text {
        width: 100% !important;
        margin-top: 45px;
      }
      .works-cards {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 580px) {
  .customers {
    img {
      display: none !important;
    }
  }
}

@media (max-width: 995px) {
  .blog {
    .container {
      flex-direction: column !important;
      align-items: center;

      .blog-text {
        width: 100% !important;
      }
      .blog-cards {
        flex-direction: column;
        width: 90% !important;
        &__item {
          margin-top: 50px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .customers {
    .reb {
      justify-content: center !important;
    }
  }
}

@media (max-width: 772px) {
  .customers {
    .reb {
      img {
        display: none !important;
      }
      article {
        text-align: start !important;
      }
      flex-direction: column !important;
      .cloud {
        margin-top: 15px;
        width: 100% !important;
        span {
          display: none !important;
        }
      }
    }
    .reb:nth-child(3) {
      display: none !important;
    }
  }
}