@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
// font-family: "Sorts Mill Goudy", serif;
// Для этого шрифта

:root {
  --grey: #bebebf;
  --white: #fbfbfb;
  --dark-grey: #454545;
  --white-grey: #a2a2a2;
  --btn-hover: #82c6bf;
}

nav {
  background-color: #2d2d30;
  color: var(--grey);
  .container {
    .navbar-toggler {
      background-color: var(--white-grey) !important;
    }
    .navbar-brand {

      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--grey);

      font-size: 12pt;
      span {
        font-size: 28pt;
      }
    }
    #navbarNavAltMarkup {
      .navbar-nav {
        .nav-link {
          padding-left: 20px;
          padding-right: 20px;

          color: var(--grey);
          font-weight: bold;
          font-size: 9pt;
        }
      }
      flex-grow: 0 !important;
    }
  }
}

.header-bg {
  margin-top: 65px;
  width: 100%;
  height: auto;

  background-image: url('/image/bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__text {
    margin-top: 30vh;
    color: var(--white);
    text-align: center;

    h1 {
      font-size: 32pt;
      padding-bottom: 20px;
    }

    p {
      font-size: 22pt;
      padding-bottom: 20px;
    }

    button {
      padding: 10px 22px;
      border: 1.5px solid var(--white);
      font-size: 10pt;
      color: var(--white);
      background-color: transparent;
      font-weight: 200;
      margin-bottom: 30vh;

      // VH чтобы под все устройства адаптивно вычислял высоту

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.our-services {
  article {
    margin-bottom: 65px;
    h2 {
      color: var(--dark-grey);
      font-size: 18pt;
      padding-bottom: 12px;
      font-weight: bold;
    }
    p {
      font-family: "Sorts Mill Goudy", serif;
      font-size: 14pt;
      color: var(--white-grey);
    }
  }

  .our-services__blocks {
    width: 100%;

    &-item {
      padding: 25px 5px;
      transition: all 0.5s;
      max-width: 22.5%;
      height: auto;
      cursor: pointer;

      .shape {
        width: 50px;
        height: 1px;
        background-color: #dbdbdb;
        margin: 32px 0px;
      }

      article {
        text-align: center;
        h3 {
          color: var(--dark-grey);
          font-size: 13.5pt;
          font-weight: bold;
          padding-bottom: 20px;
        }
        p {
          font-family: "Lato", sans-serif;
          font-size: 12.5pt;
        }
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
}

.features {
  margin-bottom: 0px !important;
  background-color: #f1f1f1;
  article:first-child {
    margin-top: 80px;
    margin-bottom: 40px;
    h2 {
      font-size: 16pt;
      color: var(--dark-grey);
      font-weight: 600;
      padding-bottom: 8px;
    }
    p {
      font-size: 14pt;
      color: var(--white-grey); 
    }
  }
  article:last-child {
    max-width: 60%;
    margin: 40px 0px;
    p {
      font-size: 11.5pt;
      color: var(--white-grey);
    }
    .article-btns {
      margin-top: 35px;
      button {
        padding: 12px 20px;
        font-size: 11pt;
        background-color: #47474d;
        color: var(--white);
        font-weight: bold;
        margin: 15px 15px;
        border-radius: 2px;

        &:hover {
          background: var(--btn-hover);
        }
      }
    }
  }
}

.works {
  margin: 0px 0px 0px 0px !important;
  padding: 80px 0px;
  background: #2d2d30;
  .works-text {
    width: 20%;

    h2 {
      font-size: 16pt;
      color: #c8c8c8; 
      font-weight: 600;
      padding-bottom: 8px;
    }
    p {
      span {
        font-size: 14pt;
      }
      color: var(--white-grey);
      font-size: 12.5pt;
      margin: 21px 0px;
    } 
    &__btn {
      transition: all 0.5s;
      margin-top: 45px;
      background-color: transparent;
      border: 2px solid var(--white-grey);
      color: var(--white-grey);
      font-weight: bold;  
      border-radius: 2px;
      padding: 12px 14px;
      font-size: 11pt;

      &:hover {
        background: var(--btn-hover);
        color: white;
      }
    }
  }
  .works-cards {
    width: 75%;
    .col {
      cursor: pointer;
    }
  }
}

.customers {
  margin-bottom: 0px !important;
  img {
    margin: 58px 0px;
  }
  img:nth-child(1) {
    margin-left: 30%;
  }
  img:nth-child(2) {
    margin-right: 30%;
  }
  img:nth-child(3) {
    margin-left: 30%;
  }
}

.blog {
  margin-top: 0px !important;
  &-text {
    width: 20%;
    h2 {
      font-size: 14pt;
      color: var(--dark-grey); 
      font-weight: 600;
      padding-bottom: 8px;
    }
    p {
      span {
        font-size: 14pt;
      }
      color: var(--white-grey);
      font-size: 12.5pt;
      margin: 21px 0px;
    }
    button {
      margin-top: 29px;
      background-color: var(--btn-hover);
      border-radius: 4px;
      padding: 16px 24px;
      color: var(--white);
      font-weight: bold;

      &:hover {
        background-color: var(--dark-grey);
        color: var(--white);
      }
    }
  }
  .blog-cards {
    width: 75%;

    &__item {
      background-color: white;
      margin: 10px 25px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      img {
        width: 100%;
      }
      article {
        padding: 0px 15px;
        h3 {
          font-size: 12.5pt;
          color: var(--dark-grey);
          font-weight: bold;
          margin: 25px 0px;
        }
        p {
          font-size: 11.5pt;
          color: var(--white-grey);
          padding-bottom: 30px;
        }
      }
    }
  }
}

footer {
  background-color: #333333;
  padding-top: 44px;
  padding-bottom: 22px;
  p {
    color: var(--white-grey);
    font-size: 12pt;
  }
}